.logOutBtn {
    background-color:red;
    display:flex;
    border-radius:500px;
    align-items: center;
    justify-content: center;
    width: 94%;
    color:black;
    font-weight: bold;
    padding:8px;
    margin: 0 auto;
    border:none;
}

.accountDetails{
    width: 100%;
    padding: 10%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.section {
    background-color: #282828;
    border-radius:15px;
    padding-bottom:15px;
}

.section h2 {
    padding:10px;
    margin-left:10px;
    font-weight:700;
}

.section h4 {
    font-weight:600;
    font-size: medium;
}

.accountIcon {
    margin:30px;
    width:10rem;
    height:10rem;
}

.iconWrapper {
    width:100%;
    align-items: center;
    justify-content: center;
    display:flex;
}

.section hr {
    width:100%;
    margin:0 auto;
    padding-bottom:5px;
}

.section input {
    width: 100%;;
}

.details, .editDetailsHeader {
    padding-left: 20px;
    padding-right: 20px;
}

.editDetailsHeader{
    padding-top:2%;
}

.accountPageBackground img{
    opacity: 0.05;
    display: block;
    position: absolute;
    z-index: -1;
    background-repeat: repeat;
    width: 100%;
    top:0;
}

.accountPageBackground {
    position:relative;
}

.account {
    position: relative;
}

