@font-face{
  font-family: 'Jakarta';
  src: local('Jakarta'), url('../PlusJakartaSans-2.7.1/ttf/PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style:normal;
}

.App {
  text-align: center;
  /*font-family: 'Spotify-Font';*/
  color:white;
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  margin:0 auto;
  height:100%;
  overflow-x: hidden;
}
html, #root {
  height: 100%;
}

.fullBackgroundBlack {
  background-color:black;
  width:100%;
  height:100vh;
}

button > span > svg {
  top: -5%;
  position: relative;
}

.tooltip-inner {
  min-width: 250px;
}

.tooltip {
  visibility: none;
}

button:hover, input:hover  > .tooltip , div:hover{
  visibility: visible;
}

button:focus, input:focus > .tooltip, div:focus  {
  visibility: none;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


