.card-container {
    border-radius:8px;
    background-color: #181818;
    padding:16px;
    position:relative;
    width:100%;
    max-width: 250px;;
}

.library {
    /* font-family: Jakarta; */
}

.card-contents a {
    text-decoration: none;
    color:inherit;
}

.card-container .card-image-wrapper {
    margin-bottom:16px;
    border-radius: px;
}

.card-header {
    height:24px;
    display:flex;
    justify-content: right;
    position: relative;
}

.card-header button {
    text-decoration: none;
    background-color: transparent;
    color:inherit;
    border:none;
    display:flex;
    height:100%;
    justify-content: center;
}

.card-header svg {
    float: right;
}

.card-image {
    width:100%;
    height:100%;
    border-radius: 6px;
    object-fit: contain;
}

.card-contents {
    width:100%;
}

.card-contents h5, .card-contents p {
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

.card-contents h5 {
    font-weight:700;
}

.card-contents p {
    color: #6a6a6a;
    font-weight:500;
    margin-bottom: 5px;
}

.noProjectsContainer {
    top:0;
    left:0;
    right:0;
    bottom:0;
    position: absolute;
    text-align: center;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noProjectsContent {
    width: 100%;
    padding:10%;
}

.addProjectsBtn {
    background-color:#1ed760;
    display:flex;
    border-radius:500px;
    align-items: center;
    justify-content: center;
    width: 130px;
    color:black;
    font-weight: bold;
    padding:8px;
    margin: 0 auto;
    border:none;
}

.grid-card-container {
    display: grid;
    column-gap:20px;
    row-gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin:0 auto;
    justify-content: center;
    max-width: 1000px;
}

.card-contents .card-content-type {
    font-size: small;
    color:gray;
    margin:0em;
}