.music-header {
    width:100%;
    display: flex;
    margin-bottom: 20px;
}

.music-header-album-cover {
    max-width:25%;
    margin-right:20px;
}

.music-header-cover-button {
    border:none;
    background-color: inherit;
    width: 100%;
    height:100%;
}

.content-cover {
    width:100%;
    border-radius: 4px;
    max-width:270px;
}

.music-content-information {
    display: flex;
    position: relative;
    bottom:0;
    width: 75%;
    vertical-align: bottom;
    margin:0 auto;
    align-items: flex-end;
}
.music-header-content-wrapper { 
    position: relative;
    width:100%;
}



@media screen and (max-width:580px){
    .music-header-content-wrapper h1 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-height: 30px;        /* fallback */
        max-height: 60px;       /* fallback */
    
    }
}

@media screen and (min-width:580px) {
    .music-header-content-wrapper h1 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    
}

.music-content-information span {
    font-weight: 500;
}

.music-header-content-information-row {
    display:flex;
}

.music-header-content-type {
    font-size: 0.9em;
}

.music-header-content-artist {
    font-size: 0.9em;
    overflow: hidden;
    text-wrap:wrap;

    text-overflow: ellipsis;
    width: 100% ;
    display: flex;
}

.music-header-content-artist .album-account-link,
.album-account-link-no-hover {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.music-content-information h1 {
    width:100%;
    font-size:4.5rem;
}

.make-inline {
    display: inline;
}

.music-header-artist-image-wrapper {
    border-radius:15px;
    height:20px;
    width:20px;
    background-color: white;
    margin-right:5px;
    margin-top:1px;
    flex-shrink: 0;
}

.music-header-artist-image {
    
}

.back-button-row {
    position: relative;
    height: 60px;
    width:100%;
    margin: 0 auto;
    z-index: 4;
}

.back-button-row-block {
    width: 100%;
    height: 100%;
}

.back-button-wrapper {
    position:fixed;
}

.back-button {
    margin-top:10px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    border:none;
    background-color: rgb(32 32 32 / 60%);
}

.back-button > span > svg {
    fill:white;
    stroke: white;
    width: 1.5em;
    height: 1.5em;
    left: -1px;
}

.album-account-link, 
.album-account-link-no-hover {
    color:white;
    text-decoration: none;
}

.album-account-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {

    .music-content-information h1 {
    font-size:3rem;
    }
}

@media screen and (max-width: 1000px) {

    .music-content-information h1 {
    font-size:2.5rem;
    }
}

@media screen and (max-width: 770px) {

    .music-content-information h1 {
    font-size:2rem;
    }
}

@media screen and (max-width:580px){
    .music-header {
        display: block;
        width: 100%;
    }
    .music-header-album-cover {
        width:100%;
        height:100%;
        margin: 0 auto;
        max-width: 60%;
    }


    .music-content-information{
        display: block;
        width: 90%;
        margin-top: 15px;
    }

    .music-content-information h1 {
        font-size:1.6rem;
        }

    .music-content-functions, 
    .add-tracks-wrapper,
    .back-button-row {
        width: 90%;
        margin:0 auto;
    }
}

.music-content-functions {
    display: flex;
    margin-bottom:30px;
}

.content-button-wrapper {
    width: 60px;
    height: 60px;
    margin-right:10px;
}

.content-play-button {
    width: 60px;
    height:60px;
    background-color: #1ed760;
    border: none;
    border-radius: 50px;
    z-index: 3;
    flex-shrink: 0;
}

.content-play-button > span > svg {
    width: 1.2em;
    height: 1.2em;
    left: 2px;
    top:-2px;
}

.content-play-button > span > svg.pause {
    width:1.5em;
    height:1.5em;
    left:0.5px;
}

.add-tracks-wrapper {
    margin:0 auto;
    padding-bottom:20px;
}

.content-add-tracks-button {
    background-color: #1ed760;
    border-radius: 16px;
    border: none;
    width: 100%;
    height:40px;
    font-weight: 600;
}

.content-add-tracks-button:hover, 
.content-play-button:hover {
    background-color: #3cf47c;
}


.content-header-sub-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: block;
}

.content-header-sub-menu {
    margin:0 auto;
    display: block;
    width: 200px;
    border: none;
    background-color:#454545;
    padding:5px;
    border-radius: 5px;
    font-weight: 500;
    color:white;
    position: absolute;
    top: 50px;
    left: 0;
    right:0;
    z-index: 10;
}

.content-header-sub-menu button {
    margin:0 auto;
    display: block;
    width: 100%;
    border: none;
    background-color: inherit;
    padding:5px;
    border-radius: 5px;
    font-weight: 500;
    font-size:0.8rem;
    color:white;
}

.content-header-sub-menu li:nth-child(3) > button{
    color:red;
    font-weight: 600;
}

.content-header-sub-menu button:hover {
    background-color: #878787;
}


.content-other-functions {
    display: flex;
    width: 150px;
}

.content-icon-wrapper {
    margin-right:0px;
    height: 100%;
    width:50px;
    position: relative;
}

.content-icon-wrapper button {
    border: none;
    height: 60px;
    width: 50px;
    background-color: inherit;
}

.content-information-button > span > svg {
    fill: #a7a7a7;
    width: 40px;
    height: 40px;
    left:-4px;
}

.content-information-button:hover > span > svg {
    fill:white;
}

.green-content-shuffle-dot {
    position: absolute;
    left:0;
    right:0;
}

.green-content-shuffle-dot-invisible{
    position:absolute;
    display: none;
}

.green-content-shuffle-dot >  svg {
    position: relative;
    left: 20px;
    top:38px;
    width: 0.6em;
    height: 0.6em;
    stroke: rgb(30, 215, 96);
    fill: rgb(30, 215, 96);
}


.content-shuffle-button > span > svg {
    width: 2.5em;
    height:2.5em;
    transform:scale(1, -1);
    stroke:rgb(186, 186, 186);
    fill:rgb(186, 186, 186);
}

.green-content-shuffle-button > span > svg{
    stroke:rgb(30, 215, 96);
    fill: rgb(30, 215, 96);
    width: 2.5em;
    height:2.5em;
    transform:scale(1, -1);
}

.content-dots-button > span > svg {
    height: 2em;
    width: 2em;
    stroke:rgb(186, 186, 186);
    fill:rgb(186, 186, 186);
}

.music-header button, 
.music-content-functions button,
.add-tracks-wrapper button,
.back-button,
.song-functions button{
    transition: all .2s ease-in-out;
}

.music-header button:hover,
.music-content-functions button:hover,
.back-button:hover,
.song-functions button:hover{
    transform: scale(1.05);
}

.add-tracks-wrapper button:hover {
    transform: scale(1.03);
}

.content-page {
    height:100%;
    flex-grow:1;
}

.fullscreen-album-cover-wrapper{
    position: fixed;
    top:0;
    bottom:0;
    width: 100%;
    background-color: rgb(32 32 32 / 60%);
    height:100vh;
    z-index: 500;
}

.fullscreen-album-content {
    width:100%;
    height: 100%;
}

.fullscreen-album-clickable {
    z-index: 6;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom:0;
}

.fullscreen-album-image-wrapper{
    width:50%;
    height: 100%;
    min-width: 350px;
    position: relative;
    z-index: 7;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.fullscreen-album-cover {
    width: 100%;
    border-radius: 6px;
    margin-bottom:30px;
    max-width: 550px;
    height:100%;
}

@media screen and (max-height:660px) {
    .fullscreen-album-cover {
        max-width: 420px;
    }
}

@media screen and (max-height:550px) {
    .fullscreen-album-cover {
        max-width: 320px;
    }
}

@media screen and (max-height:450px) {
    .fullscreen-album-cover {
        max-width: 250px;
    }
}

.cover-wrapper {
    margin:0 auto;
}

.fullscreen-album-controls-wrapper {
    display:flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.fullscreen-album-controls {
    display: block;
}

.fullscreen-control-wrapper {
    display: flex;
}

.fullscreen-control-wrapper button{
    margin: 0 auto;
    margin-bottom: 10px;
    border:none;
    font-weight:600;
    transition: all .2s ease-in-out;
    text-align: center;
}

.fullscreen-control-wrapper button:hover {
    transform: scale(1.05);
}

.fullscreen-close-button{
    background-color: transparent;
    color:white;
}

.fullscreen-change-button {
    border-radius:15px;
    width:100%;
}

#fcw-change-button {
    width: 100px;
}

.content-background {

}

.tracklist-header hr {
   opacity: 20%;
   color:gray;
}

/* Tracklist 

--------------------------------

*/

.tracklist ul {
    width: 100%;
    padding: 0;
}

.tracklist li {
    list-style: none;
    height:60px;
    width: 100%;;
    margin-bottom: 5px;
}

.tracklist-wrapper {
    width: 100%;
    margin:0 auto;
}

.tracklist-row {
    border-radius: 10px;
    color: #a7a7a7;
    height:100%;
    position:relative;
}

.tracklist-row:hover {
    background-color: #454545;
}

.tracklist-song-button {
    background-color: transparent;
    position: absolute;
    border:none;
    width:100%;
    height:100%;
    border-radius: 10px;
}


.song-artist span {
    font-size:0.9em;
}

.song-title span {
    color:white;
}

.col-0-5 {
    flex: 0 0 auto;
    width: 4.166666%;
}

.number-wrapper, .time-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.number-wrapper {
    padding-left:50%;
}

.number-wrapper > span > svg {
    color: #1ed76b;
    width: 25px;
    height: 25px
}

.song-information {
    display: flex;
    align-items: center;
}

.number-wrapper span{
    position: relative;
}

.song-title span{
    font-weight:500;
}

.song-time {
    float:left;
    display: flex;
    align-items: center;
    height: 100%;
    font-size:0.9rem;
    width:70%;

    justify-content: right;
}

.song-time > span {
    direction: rtl;
}

.tracklist-row:hover > .song-functions >
.buttons-wrapper > .song-options-button-wrapper {
    display: flex;
}

.song-options-button-wrapper {
    width: 30%;
    display: none;
    justify-content: right;
    z-index: 5;
}


@media screen and (max-width:768px){
    .song-options-button-wrapper{
        display: flex;
    }

    .song-time {
        width:50%;
    }

    .song-options-button-wrapper {
        width:50%;
    }
}

.information-wrapper {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    min-width: 0;
}



.song-title, .song-artist {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-wrap: nowrap;
    display: block;
}

.buttons-wrapper {
    height: 100%;
    float: right;
    width:100%;
    display: flex;
}


@media screen and (max-width:580px) and (min-width: 576px) {
    .song-functions {
    flex: 0 0 auto;
    width: 33%;
}
    
}
.song-functions {
}

.song-functions button {
    border:none;
    background-color: inherit;
    width: 50px;
    height:100%;
}

.song-functions button > span > svg{
    stroke:#a7a7a7;
    fill:#a7a7a7;
    width:30px;
    height: 20px;
}

.song-options-button, .edit-song-button {
    position: relative;
    z-index: 4;
}

.buttons-wrapper {
    z-index: 4;
}

.edit-song-button > span > svg {
    top:-3px;
}

.tracklist-header {
    margin-top: 40px;
    color:#a7a7a7;
    font-size: 0.9em;
}

.clock-wrapper {
    width:50%;
    display: flex;
    justify-content: right;
    padding-right:12px;
}

.track-header {
    display: flex;
}

.empty-tracklist-header-space {
    width: 50%;
    height:1px;
}

.title-header-wrapper {
    float: left;
}

.tracklist-header-row {
    margin-bottom: -8px;
}

.number-header-wrapper {
    width: 100%;
    padding-left: 80%;
}


@media screen and (max-width:580px){
    

    .song-time, .song-number {
        display: none;
        width:0%;
    }

    .tracklist-wrapper {
        width: 90%;
    }

    .tracklist-header {
        display: none;
    }

    .song-options-button-wrapper {
        width: 100%;
    }

}




/* ------ PALETTE PICKER OPTIONS ------ */

.palette-container {
    height:100%;
    position: relative;
}

.content-palette-wrapper {
    width: 100%;
}

.palette-button-wrapper {
    height: 100%;
}

.palette-button {
    width: 50px;
    height: 60px;
    border:none;
    background-color: inherit;
}

.palette-button > span > svg {
    fill:#a7a7a7;
    width:100%;
    height:100%;
}

.palette-button:hover > span > svg {
    fill:white;
}

.palette-menu {
    background-color: rgb(0 0 0 / 40%);
    border-radius: 10px;
    position:absolute;
    display: none;
    height: 100%;
    display: flex;
    margin-left:60px;
    top:0
}

.palette-picker {
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    width:40px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.palette-picker-button {
    width: 40px;
    height: 40px;
    border:1px solid white;
    border-radius: 40px;
}

.palette-small-screen-block {
    height:50px;
    width: 100%;
    display: none;
}

@media screen and (max-width: 991px) {
    .palette-small-screen-block {
        display: flex;
    }

    .palette-container {
        height:100%;
        position: static;
        width: 100px;
    }

    .palette-menu {
        width: 70vw;
        position: relative;
        left: calc(-20vw + 50%);
        top: 5px;
        margin: 0 auto;;
    }

    .palette-picker {
        height: 100%;
        width:10%;
        max-width: 50px;
    }
    
    .palette-picker-button {
        width: 80%;
        height: 60%;
    }

    .palette-button-wrapper{
        width: 100px;
    }
}

@media screen and (max-width: 768px) {
    .palette-small-screen-block {
        display: flex;
    }

    .palette-container {
        height:100%;
        position: static;
        width: 100px;
    }

    .palette-menu {
        width: 68vw;
        position: relative;
        left: calc(-30vw + 50%);
        top: 5px;
        margin: 0 auto;;
    }

    .palette-picker {
        height: 100%;
        width:10%;
        max-width: 50px;
    }
    
    .palette-picker-button {
        width: 100%;
        height: 50%;
    }
}

@media screen and (max-width: 500px) {
    .palette-small-screen-block {
        display: flex;
    }

    .palette-container {
        height:100%;
        position: static;
        width: 100px;
    }

    .palette-menu {
        width: 250%;
        max-width: 400px;
        position: relative;
        left: -160%;
        top: 5px;
        margin: 0 auto;;
    }

    .palette-picker {
        height: 100%;
        width:20px;
        max-width: 40px;
        margin: 0 5px 0 5px;
    }
    
    .palette-picker-button {
        width: 80%;
        height: 40%;
    }
}

/* LABEL AND INFORMATION AT THE BOTTOM */

.container.information{
    margin-bottom:50px;
}

.bottom-information-wrapper {
    margin-top:50px;
    width: 100%;
    height:100px;
    font-size: 0.9rem;
    color: #979797;
    font-weight: 500;
}

.bottom-information.label {
    font-size: 0.7rem;
}

.bottom-information.time {
    font-size: 0.8rem;
    margin-bottom: 10px;
    color:white;
}

.bottom-information.date {
    color:white;
    font-size: 0.9em;
}

@media screen and (max-width:580px){
    .bottom-information-wrapper {
        width: 90%;
        margin: 0 auto;
        margin-bottom:50px;
    }
}


.project-select__control {
    color:black;
}

/* FULLSCREEN INFORMATION HELPER */

.information-fullscreen-wrapper{
    position: fixed;
    top:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background-color: rgb(32 32 32 / 40%);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-fullscreen{
    width: 80%;
    background-color: rgb(50 50 50);
    margin: auto;
    height: 60%;
    border-radius: 16px;
    position: relative;
    z-index: 12;
}

.information-fullscreen-click-off {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.information-fullscreen-header {
    height: 100%;
    width: 90%;
}

.information-fullscreen-header-wrapper {
    height:30px;

    padding-left:4%;
    padding-top: 2%;
    display: flex;
}

.information-fullscreen-header-button-wrapper {
    width: 10%;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
}

.information-fullscreen-header-button {
    background-color: transparent;
    border:none;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    margin-right: 10px;
}

.information-fullscreen-header-button > span > svg {
    fill:#d3d3d3;
    width: 100%;
    height: 100%;
    top:-2px;
}

.information-fullscreen-header-button:hover > span > svg {
    fill:white;
    width: 100%;
    height: 100%;
}

.information-fullscreen-header h4 {
    font-weight: 600;
}

.information-fullscreen-content {
    padding-left: 4%;
    padding-right:4%;
    padding-top:1%;
    margin: 0 auto;
}

.information-fullscreen-content p {
    font-size: 0.9rem;
}


@media screen and (min-width: 800px) {
    .information-fullscreen{
        height:40%
    }
}

@media screen and (min-width: 800px) {
    .information-fullscreen{
        height:40%
    }
}

@media screen and (min-width: 940px) {
    .information-fullscreen{
        height:35%
    }
}


@media screen and (min-width: 720px) {
    .information-fullscreen{
        height:35%
    }
    .information-fullscreen hr {
        margin-top: 30px;
    }
}

@media screen and (min-width: 500px) {
    .information-fullscreen{
        height:52%
    }
}
@media screen and (min-width: 580px) {
    .information-fullscreen{
        height:47%
    }
}

@media screen and (max-width: 460px) {
    .information-fullscreen{
        top:-5%;
        height:73%
    }
}

@media screen and (max-width: 410px) {
    .information-fullscreen-header-wrapper {
        height: 50px;
    }
    .information-fullscreen{
        height:77%
    }
}

@media screen and (max-height:750px) {
    .information-fullscreen-content p {
        font-size: 0.8rem;
    }
    
}

/* @media screen and (max-height:650px) {
    .information-fullscreen-content p {
        font-size: 0.75rem;
    }
    
} */

@media screen and (max-width: 380px) {
    .information-fullscreen{
        height:75%
    }
}