.player-container {
    position: fixed;
    background-color: black;
    height:90px;
    bottom:0;
    left: 0;
    right:0;
    width: 100%;
    z-index: 5;
}

.player-block {
    position: relative;
    height: 90px;;
}

.left-information-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left:20px
}

.player-row, .player-col {
    height: 100%;
}

.player-image-wrapper {
    width: 40;
    margin-right:10px
}

.player-image-button {
    width:55px;
    border: none;
    background-color: inherit;
    padding: 0;
    transition: all .2s ease-in-out;
}

.player-image-button:hover {
    transform: scale(1.05);
}

.player-image {
    width:100%;
    height:100%;
    border-radius: 3px;
}

.player-container a {
    color:white;
    text-decoration: none;
}

.player-artist-name {
    color:#a7a7a7;
    font-size:0.8em;
    font-weight:500;
    position: relative;
    top: -3px;
}

.span-information-wrap,
.span-information-wrap-two, 
.span-information-wrap-three,
.span-information-wrap-four{
    width:100%;
}

.player-song-name {
    font-size:0.9em;
}

.player-song-name:hover {
    text-decoration: underline;
}

.player-container a:hover {
    text-decoration: underline;
}

.player-song-information-wrapper {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/* ------- MIDDLE PLAYER ------- */



.player-controls-wrapper {
    display: block;
    height: 60%;
}

.player-buttons-wrapper {
    display: flex;
    margin:0 auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-bottom: 5px;
}

.player-button-wrapper {
    height:100%;
    position: relative;
    top: 12px;
}

.player-button-wrapper button {
    margin-left: 10px;
    margin-right:10px;
    width: 30px;
    height:30px;
    border:none;
    position: relative;
    top:6px;
    transition: all .2s ease-in-out;
    background-color: inherit;
}

.player-button-wrapper button:hover {
    transform:scale(1.1);
}

.player-button-wrapper button:hover > span > svg {
    fill:white;
}

.player-button-wrapper button > span > svg {
    stroke:#a7a7a7;
    fill:#a7a7a7;
    width: 100%;
    height: 100%;
}

.player-button-wrapper .player-play-button {
    width: 33px;
    height: 33px;
    border: none;
    border-radius: 100px;
    background-color: white;
    top: 3px;
}

.player-button-wrapper .player-play-button .player-pause-button {
    left:-0.2px;
    width:18px;
}

.player-button-wrapper .player-play-button:hover > span > svg {
    stroke: black;
    fill: black;
}

.player-button-wrapper .player-repeat-button > span > svg {
    fill:none;
    width:20px;
    left:-1px;
}

.player-button-wrapper .player-repeat-button:hover > span > svg {
    stroke:white;
    fill:none;
}

.player-button-wrapper .player-shuffle-button > span > svg {
    width:23px;
    left:-2px
}

.player-button-wrapper .player-skip-button > span > svg {
    transform: scale(-1, 1);
    width: 25px;
    left: -5px
}

.player-button-wrapper .player-rewind-button > span > svg {
    width: 25px;
    left: -12px
}

.player-button-wrapper .player-play-button > span > svg {
    fill:black;
    width: 12px;
    left:1px;
    top: 0.2px;
}

.player-button-wrapper .player-rewind-button,
.player-button-wrapper .player-skip-button {
    width:20px
}

.player-time-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
}

.player-scrollbar-wrapper{
    display: flex;
    height: 15px;
    width: 90%;
    align-items: center;
    margin: 0 auto;
}

.player-scrollbar {
    position:relative;
    display:flex;
    margin: 0 auto;
    width: 85%;
    height:100%;
    align-items: center;
}

.player-scrollbar-overlay {
    position:absolute;
    height:100%;
    width: 80%;
    background-color: white;
    z-index: 1;
    border-radius: 10px;
    left:-100px;
    top:0;
}



.player-scrollbar-overlay:hover {
    background-color: #1ed760;
}

.player-scrollbar-overlay:hover > .player-scrollbar-dot{
    display: flex;
}


.player-scrollbar-dot {
    position: absolute;
    width: 10px;
    height:10px;
    background-color: white;
    border-radius: 6px;
    z-index: 2;
    top:-3px;
    right: -1px;
    display: none;
}

.player-scrollbar-grey {
    position: relative;
    background-color: #505050;
    height:5px;
    width: 100%;
    border-radius: 10px;
}

.player-scrollbar-wrapper span {
    font-size: 0.7em;
    color:#a7a7a7;
}

.player-scrollbar-wrapper.fullscreen span {
    font-size: 0.8em;
    color:#dfdfdf;
}

.player-time-left, .player-time-right{
    position: relative;
}

.player-time-wrapper.normal {
    width:7.5%;
    font-size:1.1rem
}

.normal.left {
    justify-content: right;
}

.player-time-left {
    margin-right:7px;
}
.player-time-right {
    margin-left:7px;
}


/* INPUT RANGE CHANGING */

/* input[type="range"].player-scrollbar-input {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
    -webkit-appearance: none;
    background-color: #4a4a4a;
    width: 100%;
    height: 5px;
    border-radius: 10px;
  }

input[type="range"].player-scrollbar-input:focus {
    outline: none;
} */

/* input[type=range].player-scrollbar-input::-webkit-slider-runnable-track {
    -webkit-appearance:none;
    background: #FFFFFF;
    height: 5px;
    border-radius: 5px;
} */

/* input[type=range].player-scrollbar-input::-webkit-slider-thumb{
    position: relative;
    top:-5px;
}
input[type=range].player-scrollbar-input::-webkit-slider-thumb:hover {
    display: flex;
    background: #FFFFFF;
}


input[type=range].player-scrollbar-input::-webkit-slider-runnable-track:hover {
    background: #1ed760;
}

input[type=range].player-scrollbar-input::-webkit-slider-runnable-track:hover > input[type=range].player-scrollbar-input::-webkit-slider-thumb{
    background: #1ed760;
} */
  



/* ------- RIGHT SIDE --------- */


.right-information-wrapper {
    display: flex;
    margin:0 auto;
    height:100%;
    align-items: center;
    float:right;
    margin-right:10px;
}

.right-information-wrapper button {
    width: 23px;
    height: 23px;
    margin-right:10px;
    border: none;
    background-color: inherit;
    transition: all .2s ease-in-out;
}

.right-information-wrapper button:hover {
}

.right-information-wrapper button:hover > span > svg{
    stroke:white;
}

.right-information-wrapper button > span > svg{
    stroke:#a7a7a7;
    width: 20px;
    height: 20px;
    fill: none;

    top:-2px;
}

.player-volume-button button > span > svg {
    width: 20px;
    height: 20px;
    fill: #a7a7a7;

    top:-3px;
}

.player-volume-button button:hover > span > svg {
    fill: white;
}

.right-information-wrapper button:hover > span > svg {
    stroke: white;
}

.right-information-wrapper .player-queue-wrapper .player-queue-button {
    width: 23px;
    height: 23px;
}

.player-volume-wrapper {
    margin-right:20px;
    margin-bottom:8px;
}



/* ---- CONDITIONAL GREEN BUTTONS ---- */

.player-shuffle-button-dot{
    position: absolute;
    width:6px;
    top:20px;
    right:0;
    left:24px;
}

.player-repeat-button-dot{
    position: absolute;
    width:6px;
    top:20px;
    right:0;
    left:23px;
}

.player-shuffle-button-dot svg {
    width: 100%;
    fill:#1ed760;
}

.player-repeat-button-dot svg {
    width: 100%;
    fill:#1ed760;
}

.player-button-wrapper .green-repeat> span > svg {
    stroke:#1ed760;
    fill:none;
}

.player-button-wrapper .green-repeat:hover> span > svg {
    stroke:#3cf47c;
    fill:none;
}

.player-button-wrapper .green-shuffle> span > svg {
    fill:#1ed760;
}

.player-button-wrapper .green-shuffle:hover> span > svg {
    fill:#3cf47c;
}





/* ------------  MINI PLAYER ---------- */


.miniplayer-container {
    position: fixed;
    background-color: black;
    height:70px;
    bottom:30px;
    left: 0;
    right:0;
    width: 95%;
    margin: 0 auto;
    z-index: 5;
    border-radius:10px;
}

.miniplayer-row {
    width: 100%;
    height: 100%;
    margin:0 auto;
}

.miniplayer-left-information-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.miniplayer-image-wrapper {
    width: 40;
    margin-right:7px
}

.miniplayer-play-pause {
    z-index: 3;
}

.miniplayer-image-button {
    width:50px;
    border: none;
    background-color: inherit;
    padding: 0;
    transition: all .2s ease-in-out;
}

.miniplayer-image-button:hover {
    transform: scale(1.05);
}

.miniplayer-image {
    width:100%;
    height:100%;
    border-radius: 3px;
}

.player-artist-name.mini {
    color:#dfdfdf;
}

.miniplayer-song-information-wrapper {
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
}

.miniplayer-control-wrapper {
    height:100%;
    float: right;
}

.miniplayer-play-button-wrapper {
    height:100%;
    display: flex;
    align-items: center;
}

.miniplayer-play-button {
    height: 50px;
    width: 50px;
    border: none;
    background-color: inherit;
}

.miniplayer-play-button > span > svg {
    fill:white;
    width: 50%;
    height: 50%;
}

.miniplayer-play-button .miniplayer-pause-button {
    width:60%;
    height:60%;
}

.miniplayer-full-button {
    width: 100%;
    border: none;
    background-color: transparent;
    height: 100%;
    ;
}

.miniplayer-full-button-wrapper {
    width: 100%;
    height:65px;
    position: absolute;
    z-index: 2;
    top:0;
    left:0;
    bottom:0;
    right:0;
}

.miniplayer-scrollbar-div {
    height:5px;
}

.col-10.player-col, .col-2.player-col {
    height:65px
}

.player-scrollbar.miniplayer {
    width: 100%;
}


/* MEDIA STUFF */


.miniplayer-container {
    display: none;
}

@media screen and (max-width:768px) {
    .miniplayer-container {
        display: block;
    }
    .player-container {
        display: none;
    }
}


/* ----- FULLSCREEN PLAYER ----- */

.fullscreen-player {
    z-index: 7;
    position:fixed;
    width: 100vw;
    height:100dvh;
    top:0;
    left:0;
    bottom: 0;
    right:0;
    background-color: #a05ba1;
}

.fullscreen-player-header {
    height:10%;
    width: 100%;
    /* background-color: #505050; */
    margin: 0 auto;
    margin-bottom:20px;
    display: flex;
    align-items: center;
}

.fullscreen-player-header button {
    border: none;
    background-color: inherit;
    width: 50px;
    height:100%;
}

.fullscreen-player-header button > span > svg {
    fill: white;
    
}

.fullscreen-player-close, .fullscreen-player-three-dots-wrapper {
    height: 100%;
}

.fullscreen-player-close-button > span > svg{
    transform: rotate(-90deg);
    width: 80%;
    height: 80%;
    top:0px;
    stroke:white;
}

.fullscreen-player-three-dots-button > span > svg{
    width: 60%;
    height: 60%;
    top:0px;
    stroke:white;
}

.fullscreen-player-content-title {
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
}

.fullscreen-player-content-title span {
    font-weight: 600;
    font-size:0.75em;
}

.fullscreen-player-three-dots-wrapper{
    float: right;
}

.fullscreen-player-image-section {
    width: 100%;
    /* background-color: aliceblue; */
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fullscreen-player-image-wrapper {
    /* background-color: green; */
    margin:0 auto;
    width: 60%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen-player-image-square {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen-player-image {
    border-radius:10px;
    width: 400px;
}

@media screen and (max-width: 580px) {

    .fullscreen-player-image-wrapper {
        width: 95%;
        max-height: 350px;
        max-width: 400px;
    }

    .fullscreen-player-image-section{
        margin-bottom:50px;
        height:45%;
    }

    .fullscreen-player-image {
        width: 100%;
        max-width: 300px;
        max-height: 300px;
    }

    .fullscreen-bottom-right {
        height:70%;
    }

}
@media screen and (max-width: 580px) and (min-height:600px) {
    .fullscreen-player-image-section{
        margin-bottom:20px;
        height:45%;
    }

    .fullscreen-player-header {
        margin-bottom: 0;
    }

}

@media screen and (min-height:700px) {
    .fullscreen-player-image {
        width: 100%;
        max-width: 330px;
        max-height: 330px;
    }

    .fullscreen-bottom-right {
        height:100px;
    }

}

@media screen and (min-height:600px) {
    .fullscreen-player-header {
        margin-bottom: 0;
    }
}

@media screen and (min-width:580px) {
    .fullscreen-player-image {
        border-radius:10px;
        max-height: 500px;
    }

    .fullscreen-player-image-wrapper {
        width: 95%;
        max-height: 300px;
        max-width: 400px;
    }
    
}

@media screen and (max-height:800px) and (min-width:400px) {

    .fullscreen-player-image {
        border-radius:10px;
        width: 40vh;
    }

}
@media screen and (max-width:400px){

    .fullscreen-player-header {
        margin-bottom: 10px;
    }
}

/* ------ TITLE AND ARTIST SECTION INFORMATION ----- */

.fullscreen-player-information-section {
    width: 100%;
    height:10%;
    margin:0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.fullscreen-player-information-wrapper {
    width:90%;
}

/* .fullscreen-player-information-wrapper:hover > div > span {
    transform: translateX(-500px);
} */

.fullscreen-player-song-title {
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
}

.fullscreen-player-song-title h1 {
    font-weight:700;
    font-size: 1.4rem;
}

.fullscreen-player-artist-name {
    color:#dfdfdf;
    margin-top:-5px;
    font-weight:500;
}

@media screen and (min-width:580px) {
    .fullscreen-player-information-section {
        margin-top: 0px;
    }
}



.fullscreen-player-rest-section {
    width: 100%;
    height:20%;
    margin-top:10px;
}

.fullscreen-scrollbar {
    position:relative;
    display:flex;
    margin: 0 auto;
    width: 90%;
    margin-top:10px;
    height:100%;
}

.fullscreen-scrollbar-overlay {
    position:absolute;
    height:5px;
    width: 150px;
    max-width: 81%;
    background-color: white;
    z-index: 1;
    border-radius: 10px;
    left:33px;
    top:0;
}

.fullscreen-scrollbar-overlay:hover {
    background-color: #1ed760;
}

.fullscreen-scrollbar-overlay:hover > .player-scrollbar-dot{
    display: inline;
}

.player-scrollbar-grey {
    position: relative;
    background-color: #505050;
    height:5px;
    width: 100%;
    border-radius: 10px;
}


.player-scrollbar-wrapper.fullscreen {
    display: block;
    height: 15px;
    margin:0 auto;
    margin-bottom:20px;
    position: relative;
}

.player-scrollbar.fullscreen{
    width:100%
}

.fullscreen-time-wrapper {
    position: absolute;
    top:17px;
    display:flex;
    width:100%;
    margin:0 auto;
    left:0;
    right:0;
}

.player-time-wrapper.left {
    float:left;
}
.player-time-wrapper.fullscreen.right {
    width:100%;
    display: flex;
    justify-content: right;
}


.fullscreen-button-wrapper {
    position: relative;
}

.fullscreen-button-wrapper button {
    margin-left: 10px;
    margin-right:10px;
    width: 100%;
    height:100%;
    border:none;
    position: relative;
    top:6px;
    transition: all .2s ease-in-out;
    background-color: inherit;
}

.fullscreen-button-wrapper button:hover {
    transform:scale(1.1);
}

.fullscreen-button-wrapper button:hover > span > svg {
    fill:#a7a7a7;
}

.fullscreen-button-wrapper button > span > svg {
    stroke:white;
    fill:white;
    width: 100%;
    height: 100%;
}

.fullscreen-button-wrapper .player-play-button {
    width:50px;
    height: 50px;
    border:none;
    border-radius: 100px;
    background-color: white;
    top:5px;
}

.fullscreen-button-wrapper .player-play-button:hover > span > svg {
    fill:black
}

.fullscreen-button-wrapper .player-repeat-button > span > svg {
    fill:none;
    width:30px;
    left:-7px;
}

.fullscreen-button-wrapper .player-repeat-button:hover > span > svg {
    stroke:white;
    fill:none;
}

.fullscreen-button-wrapper .player-shuffle-button > span > svg {
    width:35px;
    height:35px;
    left:-10px;
}

.fullscreen-button-wrapper .player-skip-button > span > svg {
    transform: scale(-1, 1);
}

.fullscreen-button-wrapper .player-skip-button > span > svg,
.fullscreen-button-wrapper .player-rewind-button > span > svg {
    width:35px;
    left:-10px
}

.fullscreen-button-wrapper .player-play-button > span > svg {
    fill:black;
    width: 50%;
    left:1px;
}

.fullscreen-button-wrapper .player-rewind-button,
.fullscreen-button-wrapper .player-shuffle-button,
.fullscreen-button-wrapper .player-repeat-button,
.fullscreen-button-wrapper .player-skip-button {
    width:30px;
    height:100%;
    position: relative;
}

.fullscreen-button-wrapper .player-play-button .player-pause-button {
    left:-0.5px;
    width:30px;
}

/* .player-buttons-section-col {
    display: flex;
} */

.fullscreen-buttons-wrapper {
    display: flex;
    margin:0 auto;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.fullscreen-button-wrapper.float-left{
    float:left;
    height: 100%;
  }
  
.fullscreen-button-wrapper.float-right {
    float:right;
    height: 100%;
}

.flex-middle {
    display: flex;
    justify-content: center;
}

.col-2-4 {
    flex: 0 0 auto;
    width: 20%;
}

.media-flex-middle{
    display: flex;
    justify-content: center;
    height:100%
}

@media screen and (min-width:580px) {
    .fullscreen-buttons-wrapper{
        width: 95%;
    }

    
}

/* ---- CONDITIONAL FULLSCREEN GREEN BUTTONS ---- */

.fullscreen-button-wrapper .player-shuffle-button-dot{
    position: absolute;
    width:6px;
    top:40px;
    right:0;
    left:22px;
}

.fullscreen-button-wrapper .player-repeat-button-dot{
    position: absolute;
    width:6px;
    top:40px;
    right:0;
    left:23px;
}

.player-shuffle-button-dot svg {
    width: 100%;
    fill:#1ed760;
}

.player-repeat-button-dot svg {
    width: 100%;
    fill:#1ed760;
}

.fullscreen-button-wrapper .green-repeat> span > svg {
    stroke:#1ed760;
    fill:none;
}

.fullscreen-button-wrapper .green-repeat:hover> span > svg {
    stroke:#3cf47c;
    fill:none;
}

.fullscreen-button-wrapper .green-shuffle> span > svg {
    fill:#1ed760;
}

.fullscreen-button-wrapper .green-shuffle:hover> span > svg {
    fill:#3cf47c;
}




.fullscreen-bottom-right {
    width: 100%;
    /* height:100px; */
}

.fullscreen-right-information-wrapper {
        display: flex;
        margin: 0 auto;
        height: 100%;
        align-items: center;
        float: right;
        margin-right: 10px;
        width:30%;
}

.fullscreen-right-information-wrapper button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: inherit;
    transition: all .2s ease-in-out;
}

.fullscreen-right-information-wrapper button:hover {
    transform: scale(1.05);
}

.fullscreen-right-information-wrapper button:hover > span > svg{
    stroke:white;
}


.fullscreen-right-information-wrapper button > span > svg {
    width: 25px;
    height: 25px;
    stroke: #dfdfdf  ;
}

.player-queue-wrapper .player-queue-button {
    width: 40px;
    height: 40px;
}

.fullscreen-right-information-wrapper .player-queue-wrapper .player-queue-button {
    width: 40px;
    height: 40px;
    margin-left: 30%;
}

.fullscreen-right-information-wrapper .player-lyrics-wrapper .player-lyrics-button {
    width: 40px;
    height: 40px;
    margin-left: -100%;
}

.fullscreen-right-information-wrapper .player-queue-wrapper {
    width:50%;
    margin-right:1%;
    display: flex;
    justify-content: center;
}

.fullscreen-right-information-wrapper .player-lyrics-wrapper {
    width:50%;
    display: flex;
    justify-content: center;
}




/* ----- PLAYER TEXT SCROLLING FEATURES ----- */

.fullscreen-player-song-title > span,
.fullscreen-player-song-title > span > h1
 {
    display: flex;
    transform: translateX(0);
    transition: all 5s ease-in-out;
}

.fullscreen-player-song-title.scrollable:hover > span{
    transform: translateX(var(--transform-width));
}

.fullscreen-player-content-title > span {
    transition: all 3s ease-in-out;
}

.fullscreen-player-content-title.scrollable:hover > span{
    transform: translateX(var(--transform-width));
}

.fullscreen-player-artist-name > span {
    display: flex;
    transform: translateX(0);
    transition: all 5s ease-in-out;
}

.fullscreen-player-artist-name {
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
}

.fullscreen-player-artist-name.scrollable:hover > span {
    transform: translateX(var(--transform-width));
}

.fullscreen-player-content-title.justify-left {
    justify-content: left;
}


.span-information-wrap,
.span-information-wrap-two, 
.span-information-wrap-three,
.span-information-wrap-four{
    overflow: hidden;
    text-wrap: nowrap;
    white-space: nowrap;
    display: flex;
}

.span-information-wrap > span,
.span-information-wrap-two > span {
    transform: translateX(0);
    transition: all 5s ease-in-out;
}
.span-information-wrap-three > span,
.span-information-wrap-four > span{
    transform: translateX(0);
    transition: all 3s ease-in-out;
}

.span-information-wrap.scrollable:hover > span,
.span-information-wrap-two.scrollable:hover > span, 
.span-information-wrap-three.scrollable:hover > span,
.span-information-wrap-four.scrollable:hover > span{
    transform: translateX(var(--transform-width));
}



/* INFINITE TRANSITIONS! */

@keyframes textscroller {
    from{
        transform: translateX(0)
    }
    to {
        transform: translateX(var(--transform-width))
    }
}

.span-information-wrap-three.scrollable > span {
    animation: 8s 3s textscroller  infinite alternate;
    -webkit-animation: 8s ease-in-out 1s textscroller infinite alternate;
    -moz-animation: 8s ease-in-out 1s textscroller infinite alternate;
}

.span-information-wrap-four.scrollable > span{
    animation: 5s ease-in-out textscroller infinite alternate;
    -webkit-animation: 5s ease-in-out 1s textscroller infinite alternate;
    -moz-animation: 8s ease-in-out 1s textscroller infinite alternate;
}

.fullscreen-player-content-title.scrollable > span {
    animation: 8s ease-in-out textscroller infinite alternate;
    -webkit-animation: 8s ease-in-out 1s textscroller infinite alternate;
    -moz-animation: 8s ease-in-out 1s textscroller infinite alternate;
}

.fullscreen-player-artist-name.scrollable > span {
    animation: 10s ease-in-out textscroller infinite alternate;
    -webkit-animation: 10s ease-in-out 1s textscroller infinite alternate;
    -moz-animation: 10s ease-in-out 1s textscroller infinite alternate;
}

.fullscreen-player-song-title.scrollable > span {
    animation: 10s ease-in-out textscroller infinite alternate;
    -webkit-animation: 10s ease-in-out 1s textscroller infinite alternate;
    -moz-animation: 10s ease-in-out 1s textscroller infinite alternate;
}