/* =========================
Custom Input range - lbaslogic
=============================*/

/* Input range - chrome and safari */



  input[type="range"] {
    --range-progress: 0;
    
    -webkit-appearance: none;
    position: relative;
    background:#606060;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    cursor: pointer;
  }
  
  /* Input range - firefox */
  input[type="range"]::-moz-range-track {
    position: relative;
    background:#606060;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    cursor: pointer;
  }
  
  /* played progress length - Chrome & safari*/
  input[type="range"]::before {
    content: '';
    height: 4px;
    background: #FFFFFF;
    width: var(--range-progress);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
  }

  input[type="range"].player-volume-slider::before {
    content: '';
    height: 4px;
    background: #FFFFFF;
    width: var(--volume-progress);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /* played progress length - firefox */
  input[type="range"]::-moz-range-progress {
    background: #FFFFFF;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    height: 4px;
  }

  .player-scrollbar:hover input[type="range"]::-moz-range-progress{
    background: #1ed760;
  }

  .player-scrollbar:hover input[type="range"]::before {
    background: #1ed760;
  }
  
  .player-volume-wrapper:hover input[type="range"]::-moz-range-progress{
    background: #1ed760;
  }

  .player-volume-wrapper:hover input[type="range"]::before {
    background: #1ed760;
  }

  /* THIS WORKED FOR LIKE ONE REFRESH THEN STOPPED FFSSSSSS */
  .player-scrollbar:hover > input[type="range"]::-webkit-slider-thumb{
    visibility: visible;
  }

  .player-scrollbar:hover > input[type="range"]::-moz-range-thumb{
    visibility: visible;
  }

  .player-volume-wrapper:hover > input[type="range"]::-webkit-slider-thumb{
    visibility: visible;
  }

  .player-volume-wrapper:hover > input[type="range"]::-moz-range-thumb{
    visibility: visible;
  }
  /* slider thumb - chrome and safari */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    position: relative;
    visibility: hidden;
    left:0px;
  }
  
  /* dragging thumb - chrome and safari */
  input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
  }
  
  /* slider thumb - firefox */
  input[type="range"]::-moz-range-thumb {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #FFFFFF;
    cursor: pointer;
    border: transparent;
    position: relative;
    visibility: hidden;
    left:0px;
  }
  /* dragging thumb - firefox */
  input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
  }
  

  @media screen and (max-width: 768px ) {
    input[type="range"]::-webkit-slider-thumb {
      visibility: visible;
    }
    input[type="range"]::-moz-range-thumb {
      visibility: visible;
    }
  }